<mjml>
  <mj-body background-color="#f6f6f6">
    <!-- open in browser -->
    <mj-section background-color="#f6f6f6" padding="20px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="11px" padding="0px 30px 0px 30px">
          <a href="{webview_url}" style="text-decoration: underline; color: inherit;">
            Vsebina ni prikazana pravilno? Odprite v brskalniku.
          </a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- header with logo -->
    <mj-section background-color="#f6f6f6" padding="50px 0px 0px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/logo-parlameter-hr.png', null, null, true) }}" alt="Parlametar logo" href="https://parlametar.hr" align="center" border="none" width="168px" padding="0px 15px 0px 15px" />
      </mj-column>
    </mj-section>
    <!-- title -->
    <mj-section background-color="#f6f6f6" padding="60px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="24px" padding="0px 30px 0px 30px" font-weight="bold">
          Najvažnije iz prethodnog mjeseca
        </mj-text>
      </mj-column>
      <mj-column width="100%">
        <mj-divider border-width="3px" border-style="solid" border-color="#162691" padding="10px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- news/link list element -->
    <mj-section background-color="#f6f6f6" padding="10px 10px 0px 10px">
      <mj-column width="33.33333%" vertical-align="middle">
        <mj-image src="https://via.placeholder.com/170x170" align="center" border="none" width="170px" padding="0px 20px 10px 20px" />
      </mj-column>
      <mj-column width="66.66666%" vertical-align="middle">
        <mj-text align="left" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 20px 10px 0px" font-weight="bold">
          USVOJEN ZAKON XY
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 20px 0px 0px" font-weight="normal" line-height="21px">
          Parlamentarna skupština BiH usvojila je XY zakon koji će lorem ipsum lorem ipsum…
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="15px 20px 10px 0px" font-weight="bold" font-style="italic" text-decoration="underline">
          <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">Pročitaj više >>></a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- news/link list divider -->
    <mj-section background-color="#f6f6f6" padding="20px 10px 20px 10px">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="0px 20px 0px 20px" />
      </mj-column>
    </mj-section>
    <!-- news/link list element -->
    <mj-section background-color="#f6f6f6" padding="10px 10px 0px 10px">
      <mj-column width="33.33333%" vertical-align="middle">
        <mj-image src="https://via.placeholder.com/170x170" align="center" border="none" width="170px" padding="0px 20px 10px 20px" />
      </mj-column>
      <mj-column width="66.66666%" vertical-align="middle">
        <mj-text align="left" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 20px 10px 0px" font-weight="bold">
          USVOJEN ZAKON XY
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 20px 0px 0px" font-weight="normal" line-height="21px">
          Parlamentarna skupština BiH usvojila je XY zakon koji će lorem ipsum lorem ipsum…
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="15px 20px 10px 0px" font-weight="bold" font-style="italic" text-decoration="underline">
          <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">Pročitaj više >>></a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- spacer -->
    <mj-section background-color="#f6f6f6" padding="40px 0px 40px 0px">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-style="solid" border-color="#f6f6f6" padding="0px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- image -->
    <mj-section background-color="#f6f6f6" padding="20px 0px 10px 0px">
      <mj-column width="90%">
        <mj-image src="https://via.placeholder.com/540x260" align="center" border="none" width="540px" padding="0px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- centered text/link element -->
    <mj-section background-color="#f6f6f6" padding="20px 20px 20px 20px">
      <mj-column width="70%" vertical-align="middle">
        <mj-text align="center" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 0px 10px 0px" font-weight="bold">
          SJEDNICE
        </mj-text>
        <mj-text align="center" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 0px 0px 0px" font-weight="normal" line-height="21px">
          Isti fazon kao i gore (tekst + link + slika): Ovdje prenositi sjednice PSBiH uz linkove na akte o kojima će se raspravljati na sjednici + istaknuti pojedine akte (npr. važne za EU integracije) + linkati transkripte govora o aktima (povući sa Parlametra BiH)
        </mj-text>
        <mj-text align="center" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="15px 0px 0px 0px" font-weight="bold" font-style="italic" text-decoration="underline">
          <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">Pročitaj više >>></a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- narrow divider -->
    <mj-section background-color="#f6f6f6" padding="20px 10px 20px 10px">
      <mj-group>
        <mj-column></mj-column>
        <mj-column>
          <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="0px 0px 0px 0px" />
        </mj-column>
        <mj-column></mj-column>
      </mj-group>
    </mj-section>
    <!-- title -->
    <mj-section background-color="#f6f6f6" padding="60px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="24px" padding="0px 30px 0px 30px" font-weight="bold">
          Kolumna
        </mj-text>
      </mj-column>
      <mj-column width="100%">
        <mj-divider border-width="3px" border-style="solid" border-color="#162691" padding="10px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- kolumna -->
    <mj-section background-color="#f6f6f6" padding="10px 10px 10px 10px">
      <mj-column width="33.33333%" vertical-align="top">
        <mj-image src="https://via.placeholder.com/170x170" align="center" border="none" width="170px" padding="0px 20px 10px 20px" />
      </mj-column>
      <mj-column width="66.66666%" vertical-align="middle">
        <mj-text align="left" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="18px" padding="0px 20px 0px 0px" font-weight="normal" font-style="italic">
          Replika Sandre Bartolović
        </mj-text>
        <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="10px 20px 10px 0px" />
        <mj-text align="left" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 20px 10px 0px" font-weight="bold">
          Saborski poslovnik po meri zastupnika, ali ne ih građana koji su ih birali
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 20px 0px 0px" font-weight="normal" line-height="21px">
          Isti fazon kao i gore (tekst + link + slika): Ovdje prenositi sjednice PSBiH uz linkove na akte o kojima će se raspravljati na sjednici + istaknuti pojedine akte (npr. važne za EU integracije) + linkati transkripte govora o aktima (povući sa Parlametra BiH)
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="15px 20px 0px 0px" font-weight="bold" font-style="italic" text-decoration="underline">
          <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">Pročitaj više >>></a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- narrow divider -->
    <mj-section background-color="#f6f6f6" padding="20px 10px 20px 10px">
      <mj-group>
        <mj-column></mj-column>
        <mj-column>
          <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="0px 0px 0px 0px" />
        </mj-column>
        <mj-column></mj-column>
      </mj-group>
    </mj-section>
    <!-- alt title -->
    <mj-section background-color="#f6f6f6" padding="60px 0px 20px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="24px" padding="0px 30px 0px 30px" font-weight="bold">
          Tjedni raspored rasprava
        </mj-text>
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="12px" padding="5px 30px 0px 30px" font-weight="normal">
          OD 8. DO 10. LIPNJA 2022. GODINE
        </mj-text>
      </mj-column>
      <mj-column width="100%">
        <mj-divider border-width="3px" border-style="solid" border-color="#162691" padding="10px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- agenda title -->
    <mj-section background-color="#f6f6f6" padding="10px 10px 30px 10px">
      <mj-column width="80%" vertical-align="middle">
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="0px 0px 5px 0px" font-weight="normal" font-style="italic">
          24. 6. 2022
        </mj-text>
        <mj-text align="left" color="#162691" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 0px 10px 0px" font-weight="bold">
          33. sjednica Odbora za Ustav, Poslovnik i politički sustav
        </mj-text>
        <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="5px 0px 0px 0px" font-weight="bold" font-style="italic" text-decoration="underline">
          <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">Dnevni red >>></a>
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- agenda element -->
    <mj-section background-color="#f6f6f6" padding="0px 10px 10px 10px">
      <mj-group width="80%">
        <mj-column width="6.5%" vertical-align="top">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 0px"></mj-image>
        </mj-column>
        <mj-column width="93.5%" vertical-align="top">
          <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 0px 0px 0px" font-weight="normal" line-height="21px">
            Izvješće o radu vijeća za elektroničke medije i agencije za elektroničke medije za 2020. godinu,
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- agenda element -->
    <mj-section background-color="#f6f6f6" padding="0px 10px 10px 10px">
      <mj-group width="80%">
        <mj-column width="6.5%" vertical-align="top">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 0px"></mj-image>
        </mj-column>
        <mj-column width="93.5%" vertical-align="top">
          <mj-text align="left" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 0px 0px 0px" font-weight="normal" line-height="21px">
            Izvješće o radu vijeća za elektroničke medije i agencije za elektroničke medije za 2020. godinu,
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- narrow divider -->
    <mj-section background-color="#f6f6f6" padding="20px 10px 20px 10px">
      <mj-group>
        <mj-column></mj-column>
        <mj-column>
          <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="0px 0px 0px 0px" />
        </mj-column>
        <mj-column></mj-column>
      </mj-group>
    </mj-section>
    <!-- spacer -->
    <mj-section background-color="#f6f6f6" padding="40px 0px 40px 0px">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-style="solid" border-color="#f6f6f6" padding="0px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- socials -->
    <mj-section background-color="#ffffff" padding="30px 0px 30px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Helvetica, Arial, sans-serif" font-size="21px" padding="0px 30px 30px 30px" font-weight="bold">
          Sledi nam na društvenim mrežama
        </mj-text>
      </mj-column>
      <mj-group width="100%">
        <mj-column></mj-column>
        <mj-column vertical-align="middle">
          <mj-image src="https://via.placeholder.com/50x50" alt="Facebook" href="https://example.com/link" align="center" border="none" width="50px" padding="0px 0px 0px 0px"></mj-image>
        </mj-column>
        <mj-column vertical-align="middle">
          <mj-image src="https://via.placeholder.com/50x50" alt="Twitter" href="https://example.com/link" align="center" border="none" width="50px" padding="0px 0px 0px 0px"></mj-image>
        </mj-column>
        <mj-column vertical-align="middle">
          <mj-image src="https://via.placeholder.com/50x50" alt="Twitter" href="https://example.com/link" align="center" border="none" width="50px" padding="0px 0px 0px 0px"></mj-image>
        </mj-column>
        <mj-column></mj-column>
      </mj-group>
    </mj-section>
    <!-- disclaimer/generic text -->
    <mj-section background-color="#f6f6f6" padding="60px 20px 60px 20px">
      <mj-column width="90%" vertical-align="middle">
        <mj-text align="center" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="16px" padding="0px 0px 0px 0px" font-weight="normal" font-style="italic" line-height="21px">
          Isti fazon kao i gore (tekst + link + slika): Ovdje prenositi sjednice PSBiH uz linkove na akte o kojima će se raspravljati na sjednici + istaknuti pojedine akte (npr. važne za EU integracije) + linkati transkripte govora o aktima (povući sa Parlametra BiH)
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- footer links -->
    <mj-section background-color="#162691" padding="30px 0px 20px 0px">
      <mj-group width="50%" vertical-align="top">
        <mj-column width="20%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 30px"></mj-image>
        </mj-column>
        <mj-column width="80%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-text align="left" color="#ffffff" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="0px 30px 0px 0px" font-weight="normal" font-style="italic" line-height="21px">
            <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">POSJETITE</a> naš sajt
          </mj-text>
        </mj-column>
      </mj-group>
      <mj-group width="50%" vertical-align="top">
        <mj-column width="20%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 30px"></mj-image>
        </mj-column>
        <mj-column width="80%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-text align="left" color="#ffffff" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="0px 30px 0px 0px" font-weight="normal" font-style="italic" line-height="21px">
            <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">PROSLIJEDITE</a> ovaj neswletter drugima
          </mj-text>
        </mj-column>
      </mj-group>
      <mj-group width="50%" vertical-align="top">
        <mj-column width="20%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 30px"></mj-image>
        </mj-column>
        <mj-column width="80%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-text align="left" color="#ffffff" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="0px 30px 0px 0px" font-weight="normal" font-style="italic" line-height="21px">
            <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">PRATITE</a> naše društvene mreže i lajkujte, podijelite ili retvitujte
          </mj-text>
        </mj-column>
      </mj-group>
      <mj-group width="50%" vertical-align="top">
        <mj-column width="20%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/circle-arrow-right.png', null, null, true) }}" align="center" border="none" width="20px" padding="0px 10px 0px 30px"></mj-image>
        </mj-column>
        <mj-column width="80%" vertical-align="top" padding="0px 0px 10px 0px">
          <mj-text align="left" color="#ffffff" font-family="Helvetica, Arial, sans-serif" font-size="14px" padding="0px 30px 0px 0px" font-weight="normal" font-style="italic" line-height="21px">
            <a href="https://example.com/link" style="text-decoration: underline; color: inherit;">POZOVITE</a> svoje prijatelje/ice, kolege/ice ili druge znatiželjne umove da se registruju za ovaj neswletter
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- footer info -->
    <mj-section background-color="#f6f6f6" padding="30px 0px 10px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/gong.png', null, null, true) }}" alt="logo" align="center" border="none" width="82px" padding="0px 0px 0px 0px"></mj-image>
      </mj-column>
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="12px" padding="10px 30px 0px 30px" font-weight="normal" line-height="16px">
          Gong<br>
          Mihanovićeva 14<br>
          10000 Zagreb, Hrvatska<br>
          Tel.: +385 1 4825 444<br>
          E-mail: gong@gong.hr
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- footer divider -->
    <mj-section background-color="#f6f6f6" padding="20px 0px 20px 0px">
      <mj-column width="100%">
        <mj-divider border-width="1px" border-style="solid" border-color="#162691" padding="0px 0px 0px 0px" />
      </mj-column>
    </mj-section>
    <!-- footer disclaimer -->
    <mj-section background-color="#f6f6f6" padding="10px 0px 30px 0px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#444444" font-family="Helvetica, Arial, sans-serif" font-size="10px" padding="0px 30px 0px 30px" font-weight="normal" font-style="italic" line-height="14px">
          Primili ste ovu e-poštu jer sarađujete/sarađivali ste sa Javnom raspravom ili ste se pretplatili na
          neswletter Parlametar BiH, mjesečni bilten posvećen zakonodavnoj vlasti na državnom nivou u BiH.
          Ako ne želite da u budućnosti primate ovaj newsletter, <a href="https://gledaj.10.parlametar.hr/misc/newsletter-signup/?id=0&locale=bs&template=share&no_card_data=true&segment=2&token={contactfield=token}&email={contactfield=email}" style="text-decoration: underline; color: inherit;">možete se odjaviti ovdje</a>.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
